<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= page_title %></title>
    <link rel="stylesheet" href="/a.css">
  <style>
    table {
        border-collapse: collapse;
        width: 50%;
        margin-top: 20px;
    }
    td, th {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
    body {direction: rtl}
</style>
</head>
<body>
    <%- include("nav") %>
<H1><%= page_title %></H1>
<a href="/cat/Add" class="button-link">הוספת קטגוריה</a>
<table>
    <tr>
        <th></th>
        <th>שם קטגוריה</th>
        <th></th>
    </tr>
    <% for(let cat of categories){ %>
        <tr>
            <td>
                <a href="/cat/Edit/<%= cat.id %>" class="button-link">עריכה</a>
            </td>
            <td><%= cat.name %></td>
            <td>
                <form action="/cat/Delete" method="post">
                    <input type="hidden" name="id" value="<%= cat.id %>">
                    <button>
                        מחיקה
                    </button>
                </form>
            </td>
        </tr>
    <% } %>
</table>
</body>
</html>