<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= page_title %></title>
    <link rel="stylesheet" href="/a.css">
    <style>
        td,th{border: 1px solid black;}
        .centered{text-align: center;}
        body {direction: rtl}
    </style>
</head>
<body>
    <%- include("nav") %>
<H1><%= page_title %></H1>
<a href="/U/Add" class="button-link">הוספת משתמש</a>
<br></br>
<table>
    <tr>
        
        <th>שם</th>
        <th>מייל</th>
        <th>תז</th>
        <th>פעולות</th>
        <th></th>
    </tr>
    <% for(let usr of users){ %>
        <tr>
            <td><%= usr.name %></td>
            <td><%= usr.email %></td>
            <td><%= usr.tz %></td>
            <td>
                <form action="/U/Delete" method="post">
                    <input type="hidden" name="id" value="<%= usr.id %>">
                    <button>
                        מחיקה
                    </button>
                </form>
            </td>
            <td>
                <a href="/U/Edit/<%= usr.id %>" class="button-link">עריכה</a>
            </td>
        </tr>
    <% } %>
    <tr>
        <td colspan="100" class="centered">
            <br/>
            <form action="" method="get">
                <% if(page > 0) { %>
            <button name="p" value="<%= page-1 %>">הקודם</button>
                    <% } %>
            עמוד <%= page+1 %>
                    מתוך
                    <%= total_pages+1 %>
            <% if(page < total_pages) { %>
            <button name="p" value="<%= page+1 %>">הבא</button>
            <% } %>
            </form>
        </td>
    </tr>
</table>
</body>
</html>